.game_preview {
    margin-top: 100px;
    text-align: center;
    font-family: 'Coolvetica';
    font-weight: lighter;
    font-size: 25px;
    color: #091D02;
}

.greenline {
    display: block;
    border-bottom: 7px solid #091D02;
    margin: 15px auto;
    width: 481px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);    
}

.description_overview {
    text-align: justify;
    padding: 3rem;
}